body {
    font-family: "Source Sans Pro", "Calibri", sans-serif !important;
    font-weight: 200;
    font-size: calc(.6vmax + .8em);
    line-height: 1.4em;
    margin: 0;
    padding: 0 calc(27% - 6em);
    background: whitesmoke;
}

::selection {
  background: #bdbdbd !important;
}
::-moz-selection {
  background: #bdbdbd !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Gentium Basic", serif;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .1em;
}

a, a#selected {
    transition: color .2s ease-out;
    color: royalblue;
    text-decoration: none;
}

a:hover {
    color: gray;
}

h1 a {
    font-size: 1.2em;
    line-height: 1.4em;
}

header a, footer a {
    color: inherit;
}

pre {
    overflow: auto;
    padding: 1em;
    font-size: .8em;
    line-height: 1.4em;
}

blockquote {
    border-left: 5px solid royalblue;
    margin: 0;
    padding: 0 1em;
}

body > header, article, body > footer {
    padding-left: calc(12% - 1.6em);
    padding-right: calc(12% - 1.6em);
}

body > header, body > footer {
    padding-top: 1em;
    padding-bottom: 1em;
    background: black;
    color: white;
}

article {
    padding-top: 2em;
    padding-bottom: 2em;
    background: white;
    border-top: 1px solid gainsboro;
}

article header {
    text-align: center !important;
}

article header p {
    color: dimgray;
}

article footer a::after {
    content: "\00bb";
}

body > footer {
    text-align: center !important;
}

body > footer span {
    margin: 0 5% !important;
}

nav li {
    display: inline-block;
    width: 19%;
    min-width: 6em;
}

nav ul {
    padding: 1em 0;
    margin: 0;
}
