body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}



.dcard-panel {
  transition: box-shadow .25s;
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
}

.dcard {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
}

.dcard .dcard-title {
  font-size: 24px;
  font-weight: 300;
}

.dcard .dcard-title.activator {
  cursor: pointer;
}

.dcard.small, .dcard.medium, .dcard.large {
  position: relative;
}

.dcard.small .dcard-image, .dcard.medium .dcard-image, .dcard.large .dcard-image {
  max-height: 60%;
  overflow: hidden;
}

.dcard.small .dcard-image + .dcard-content, .dcard.medium .dcard-image + .dcard-content, .dcard.large .dcard-image + .dcard-content {
  max-height: 40%;
}

.dcard.small .dcard-content, .dcard.medium .dcard-content, .dcard.large .dcard-content {
  max-height: 100%;
  overflow: hidden;
}

.dcard.small .dcard-action, .dcard.medium .dcard-action, .dcard.large .dcard-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.dcard.small {
  height: 300px;
}

.dcard.medium {
  height: 400px;
}

.dcard.large {
  height: 500px;
}

.dcard.horizontal {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.dcard.horizontal.small .dcard-image, .dcard.horizontal.medium .dcard-image, .dcard.horizontal.large .dcard-image {
  height: 100%;
  max-height: none;
  overflow: visible;
}

.dcard.horizontal.small .dcard-image img, .dcard.horizontal.medium .dcard-image img, .dcard.horizontal.large .dcard-image img {
  height: 100%;
}

.dcard.horizontal .dcard-image {
  max-width: 50%;
}

.dcard.horizontal .dcard-image img {
  border-radius: 2px 0 0 2px;
  max-width: 100%;
  width: auto;
}

.dcard.horizontal .dcard-stacked {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

.dcard.horizontal .dcard-stacked .dcard-content {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.dcard.sticky-action .dcard-action {
  z-index: 2;
}

.dcard.sticky-action .dcard-reveal {
  z-index: 1;
  padding-bottom: 64px;
}

.dcard .dcard-image {
  position: relative;
}

.dcard .dcard-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.dcard .dcard-image .dcard-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.dcard .dcard-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
}

.dcard .dcard-content p {
  margin: 0;
  color: inherit;
}

.dcard .dcard-content .dcard-title {
  line-height: 48px;
}

.dcard .dcard-action {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 20px;
}

.dcard .dcard-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #3F51B5;
  margin-right: 20px;
  transition: color .3s ease;
  text-transform: uppercase;
}

.dcard .dcard-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
  color: #3D5AFE;
}

.dcard .dcard-reveal {
  padding: 20px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.dcard .dcard-reveal .dcard-title {
  cursor: pointer;
  display: block;
}


.index-gradient {
  background-image: linear-gradient(150deg,#283593 22%,#5caf50 79%), linear-gradient(#4caf50,#5dbf60);
  -webkit-clip-path: polygon(0 0,100% 0, 100% 70%, 0 100%);
}

@media (max-width: 601px) {
  .index-gradient {
    background-image: linear-gradient(150deg,#283593 22%,#5caf50 79%), linear-gradient(#4caf50,#5dbf60);
    -webkit-clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
  }
}

.docs-gradient {
  background-image: linear-gradient(-159deg,#030d50 22%,#2eccb2 79%,#f1fdb0),linear-gradient(#4e1b4e,#4e1b4e);
  -webkit-clip-path: polygon(0 0,100% 0, 100% 100%, 0 90%);
}

@media (max-width: 601px) {
  .docs-gradient {
    background-image: linear-gradient(-159deg,#030d50 22%,#2eccb2 79%,#f1fdb0),linear-gradient(#4e1b4e,#4e1b4e);
    -webkit-clip-path: polygon(0 0,100% 0, 100% 100%, 0 90%);
  }
}

.downloads-gradient {
  background-image: linear-gradient(150deg,#00BCD4 22%,#009688 44%, #00E676 88%);
  -webkit-clip-path: polygon(0 0,100% 0, 100% 80%, 0 100%);
}

@media (max-width: 601px) {
  .downloads-gradient {
    background-image: linear-gradient(150deg,#00BCD4 22%,#009688 44%, #00E676 88%);
    -webkit-clip-path: polygon(0 0,100% 0, 100% 90%, 0 90%);
  }
}

.donate-gradient {
  background-image: linear-gradient(130deg,#303F9F 20%,#E91E63 80%);
  -webkit-clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);
}

@media (max-width: 601px) {
  .donate-gradient {
    background-image: linear-gradient(130deg,#303F9F 20%,#E91E63 80%);
    -webkit-clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);
  }
}

.story-gradient {
  background-image: linear-gradient(130deg,#212121 20%,#424242 80%);
  -webkit-clip-path: polygon(0 0,100% 0, 100% 80%, 0 100%);
}

@media (max-width: 601px) {
  .story-gradient {
    background-image: linear-gradient(130deg,#212121 20%,#424242 80%);
    -webkit-clip-path: polygon(0 0,100% 0, 100% 95%, 0 100%);
  }
}

.news-gradient {
  background-image: linear-gradient(150deg,#673AB7 25%,#3F51B5 50%, #2196F3 90%);
  -webkit-clip-path: polygon(0 0,100% 0, 100% 100%, 0 70%);
}

@media (max-width: 601px) {
  .news-gradient {
    background-image: linear-gradient(150deg,#673AB7 25%,#3F51B5 50%, #2196F3 90%);
    -webkit-clip-path: polygon(0 0,100% 0, 100% 100%, 0 85%);
  }
}

.float:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}


.inline-gradient {
  background-image: linear-gradient(150deg,#283593 22%,#5caf50 79%), linear-gradient(#4caf50,#5dbf60);
  -webkit-clip-path: polygon(0 30%,100% 0, 100% 70%, 0 100%);
}

@media (max-width: 601px) {
  .inline-gradient {
    background-image: linear-gradient(150deg,#283593 22%,#5caf50 79%), linear-gradient(#4caf50,#5dbf60);
    -webkit-clip-path: polygon(0 15%,100% 0, 100% 85%, 0 100%);
  }
}


.image-paypal {
  background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, #2195F3),
          color-stop(0.85, #1A237E)
  );
  background-image: -o-linear-gradient(bottom, #2195F3 0%, #1A237E 85%);
  background-image: -moz-linear-gradient(bottom, #2195F3 0%, #1A237E 85%);
  background-image: -webkit-linear-gradient(bottom, #2195F3 0%, #1A237E 85%);
  background-image: -ms-linear-gradient(bottom, #2195F3 0%, #1A237E 85%);
  background-image: linear-gradient(to bottom, #2195F3 0%, #1A237E 85%);
}

.image-bitcoin {
  background-image: -webkit-gradient(
          linear,
          left top,
          right bottom,
          color-stop(0, #FF9900),
          color-stop(0.85, #FFEB3B)
  );
  background-image: -o-linear-gradient(right bottom, #FF9900 0%, #FFEB3B 85%);
  background-image: -moz-linear-gradient(right bottom, #FF9900 0%, #FFEB3B 85%);
  background-image: -webkit-linear-gradient(right bottom, #FF9900 0%, #FFEB3B 85%);
  background-image: -ms-linear-gradient(right bottom, #FF9900 0%, #FFEB3B 85%);
  background-image: linear-gradient(to right bottom, #FF9900 0%, #FFEB3B 85%);
}

.image-pledgie {
  background-image: -webkit-gradient(
          linear,
          left top,
          right bottom,
          color-stop(0, #4CAF4F),
          color-stop(0.82, #00796B)
  );
  background-image: -o-linear-gradient(right bottom, #4CAF4F 0%, #00796B 82%);
  background-image: -moz-linear-gradient(right bottom, #4CAF4F 0%, #00796B 82%);
  background-image: -webkit-linear-gradient(right bottom, #4CAF4F 0%, #00796B 82%);
  background-image: -ms-linear-gradient(right bottom, #4CAF4F 0%, #00796B 82%);
  background-image: linear-gradient(to right bottom, #4CAF4F 0%, #00796B 82%);
}

.mobile-padding {
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 500px) {
  .mobile-padding {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 700px) {
  .mobile-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 900px) {
  .mobile-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1000px) {
  .mobile-padding {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.floating-text-black {
  text-shadow: 0 1px;
}


.floating-text-white {
  text-shadow: 0 1px;
}

.github-commit {
  padding: 14px 0;
  height: 64px;
  line-height: 36px;
  background-color: #5c5757;
  color: hsl(0, 0%, 90%);
  font-size: .9rem;
}
@media (max-width: 601px) {
  .github-commit {
    text-align: center;
  }
}

.github-button {
  background-color: #6f6d6d;
  transition: .25s ease;
}
.github-button:hover {
   background-color: #797777;
}

.sha {
  color: hsl(0, 0%, 94%) ;
  margin: 0 6px 0 6px;
}

.material-git {
  color: #000000;
  background-color: #000000;
}

.link-footer {
  color: #EEEEEE !important;
  text-decoration: none !important;
}