---
title: Docs
position: 1
layout: blank
---
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<div class="section no-pad-bot docs-gradient" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center white-text floating-text-black">Docs</h1>
        <div class="row center">
            <h5 class="header col s12 light white-text floating-text-black">Official cSploit documentation</h5>
        </div>
        <div class="row center">
            <a id="get-started-button" href="#getStarted" class="btn-large waves-effect waves-light green">Get Started</a>
        </div>
        <br><br><br><br><br><br>

    </div>
</div>


<div class="container" id="#getStarted"><a name="getStarted"></a>
    <div class="section">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card white darken-1 z-depth-2 float">
                            <div class="card-content white-text">
                                <font color="#323232">{% capture card1 %}{% include docs_card1.md %}{% endcapture %}
                                    {{ card1 | markdownify }}</font>
                            </div>
                            <div class="card-action">
                                <a href="https://www.github.com/cSploit/" onclick="Materialize.toast('Redirecting to Github...', 4500)">Github Wiki</a>
                                <a href="https://www.youtube.com" onclick="Materialize.toast('Redirecting to Youtube...', 4500)">Video tutorial</a>
                            </div>
                        </div>
                    </div>


                    <br><div class="col s12 m6">
                    <div class="card white darken-1 z-depth-2 float">
                        <div class="card-content white-text">
                            <font color="#323232">{% capture card2 %}{% include docs_card2.md %}{% endcapture %}
                            {{ card2 | markdownify }}</font>
                        </div>
                        <div class="card-action">
                            <a href="https://www.github.com/cSploit/" onclick="Materialize.toast('Redirecting to Github...', 4500)">Github Wiki</a>
                            <a href="https://www.youtube.com" onclick="Materialize.toast('Redirecting to Youtube...', 4500)">Video tutorial</a>
                        </div>
                    </div>
                </div>
                </div>

                <div class="row">
                    <div class="col s12 m6">
                        <div class="card white darken-1 z-depth-2 float">
                            <div class="card-content white-text">
                                <font color="#323232">{% capture card3 %}{% include docs_card3.md %}{% endcapture %}
                                    {{ card3 | markdownify }}</font>
                            </div>
                            <div class="card-action">
                                <a href="https://www.github.com/cSploit/" onclick="Materialize.toast('Redirecting to Github...', 4500)">Github Wiki</a>
                                <a href="https://www.youtube.com" onclick="Materialize.toast('Redirecting to Youtube...', 4500)">Video tutorial</a>
                            </div>
                        </div>
                    </div>

                    <br><br><div class="col s12 m6">
                    <div class="card white darken-1 z-depth-2 float">
                        <div class="card-content white-text">
                            <font color="#323232">{% capture card4 %}{% include docs_card4.md %}{% endcapture %}
                                {{ card4 | markdownify }}</font>
                        </div>
                        <div class="card-action">
                            <a href="https://www.github.com/cSploit/" onclick="Materialize.toast('Redirecting to Github...', 4500)">Github Wiki</a>
                            <a href="https://www.youtube.com" onclick="Materialize.toast('Redirecting to Youtube...', 4500)">Video tutorial</a>
                        </div>
                    </div>
                </div>
                </div>

        <div class="row mobile-padding center-align s12" align="center">
            {% capture my_include %}{% include docs.md %}{% endcapture %}
            {{ my_include | markdownify }}
        </div>

    </div>
    <br><br>

</div>



<div class="section no-pad-bot inline-gradient"><br><br><br><br><br>
    <div class="container">
        <br><br><br><br>
        <h1 class="header center white-text floating-text-black">Build cSploit</h1>
        <div class="row center">
            <h5 class="header col s12 light white-text floating-text-black">Use cSploit &amp; Cordova APIs to build and customize the project</h5>
        </div>
        <div class="row center">
            <a href="https://www.github.com/cSploit/client" class="btn-large waves-effect waves-light green" onclick="Materialize.toast('Redirecting to Github repo...', 4500)">Github</a>
        </div>
        <br><br><br><br><br><br><br>

    </div><br><br><br>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 m6"><br><br>
                <div class="dcard white darken-1 z-depth-2 float">
                    <div class="dcard-content white-text">
                        <font color="#323232">{% capture dcard1 %}{% include docs_devcard1.md %}{% endcapture %}
                            {{ dcard1 | markdownify }}</font>
                    </div>
                    <div class="dcard-action">
                        <a href="https://www.github.com/cSploit/" onclick="Materialize.toast('Redirecting to Github...', 4500)">Github Wiki</a>
                        <a href="https://www.youtube.com" onclick="Materialize.toast('Redirecting to Youtube...', 4500)">Video tutorial</a>
                    </div>
                </div>
            </div>


            <div class="col s12 m6">
            <div class="dcard white darken-1 z-depth-2 float">
                <div class="dcard-content white-text">
                    <font color="#323232">{% capture dcard2 %}{% include docs_devcard2.md %}{% endcapture %}
                        {{ dcard2 | markdownify }}</font>
                </div>
                <div class="dcard-action">
                    <a href="https://www.github.com/cSploit/" onclick="Materialize.toast('Redirecting to Github...', 4500)">Github Wiki</a>
                    <a href="https://www.youtube.com" onclick="Materialize.toast('Redirecting to Youtube...', 4500)">Video tutorial</a>
                </div>
            </div>
        </div>
        </div>


        <div class="row">
            <div class="col s12 m6"><br><br>
                <div class="dcard white darken-1 z-depth-2 float">
                    <div class="dcard-content white-text">
                        <font color="#323232">{% capture dcard3 %}{% include docs_devcard3.md %}{% endcapture %}
                            {{ dcard3 | markdownify }}</font>
                    </div>
                    <div class="dcard-action">
                        <a href="https://www.github.com/cSploit/" onclick="Materialize.toast('Redirecting to Github...', 4500)">Github Wiki</a>
                        <a href="https://www.youtube.com" onclick="Materialize.toast('Redirecting to Youtube...', 4500)">Video tutorial</a>
                    </div>
                </div>
            </div>


            <div class="col s12 m6">
            <div class="dcard white darken-1 z-depth-2 float">
                <div class="dcard-content white-text">
                    <font color="#323232">{% capture dcard4 %}{% include docs_devcard4.md %}{% endcapture %}
                        {{ dcard4 | markdownify }}</font>
                </div>
                <div class="dcard-action">
                    <a href="https://www.github.com/cSploit/" onclick="Materialize.toast('Redirecting to Github...', 4500)">Github Wiki</a>
                    <a href="https://www.youtube.com" onclick="Materialize.toast('Redirecting to Youtube...', 4500)">Video tutorial</a>
                </div>
            </div>
        </div>
        </div>

    </div>
</div>