---
title: Donate
position: 2
layout: blank
---

<div class="section no-pad-bot donate-gradient" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center white-text floating-text-black">Donate</h1>
    <div class="row center">
      <h5 class="tagline header col s12 light white-text floating-text-black">Make cSploit better supporting his development</h5>
    </div>
    <div class="row center">
      <a id="get-started-button" href="#DonateSec" class="btn-large waves-effect waves-light green">Donate</a>
    </div>
    <br><br><br><br><br><br>

  </div>
</div>


<div class="container">
  <div class="section">
    <a name="DonateSec"></a>
    <div class="row">

        <div class="col s12 m6">
          <div class="card float">
            <div class="card-image">
              <img src="../img/donate-paypal.png">
              <a class="btn-floating btn-large halfway-fab waves-effect waves-light green" href="https://www.paypal.com/uk/cgi-bin/webscr?cmd=_flow&SESSION=PgbaWwngYDYeaSlCpluSJsHqthvjk62zoQ38H-VyKAnIMxvw4pjpC2WUVs8&dispatch=5885d80a13c0db1f8e263663d3faee8d333dc9aadeed3fe0b5b299d55fd35542" target="_blank" onclick="Materialize.toast('Redirected to PayPal', 4500)"><i class="material-icons">send</i></a> <!-- TODO fix link -->
            </div>
            <div class="card-content" align="left">
              <font color="#323232">{% capture donate_paypal %}{% include donate_paypal.md %}{% endcapture %}
                {{ donate_paypal | markdownify }}</font>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card float">
            <div class="card-image">
              <img src="../img/donate-pledgie.png">
              <a class="btn-floating btn-large halfway-fab waves-effect waves-light green" href="https://pledgie.com/campaigns/30393" target="_blank" onclick="Materialize.toast('Redirected to Pledgie', 4500)"><i class="material-icons">send</i></a>
            </div>
            <div class="card-content"  align="left">
              <font color="#323232">{% capture donate_pledgie %}{% include donate_pledgie.md %}{% endcapture %}
                {{ donate_pledgie | markdownify }}</font>
            </div>
            <!--
            <div class="card-action">
              <a href="https://www.github.com/cSploit/" onclick="Materialize.toast('Redirecting to PayPal...', 4500)"><b>PayPal</b></a>
              <a href="https://www.youtube.com" onclick="Materialize.toast('Redirecting to GitHub...', 4500)">More Info</a>
            </div>
            -->
          </div>
        </div>
    </div>

    <div class="row center-align" align="center">
      <div class="col s12 m6 offset-l3">
        <div class="card float">
          <div class="card-image">
            <img src="../img/donate-bitcoin.png">
            <a class="btn-floating btn-large halfway-fab waves-effect waves-light green" href="bitcoin:1Hi6wt2V2oTyZS4Lzm2Zr8Go6E3zMyTVf" target="_blank" onclick="Materialize.toast('Redirected to BitCoin donation page', 4500)"><i class="material-icons">send</i></a>
          </div>
          <div class="card-content" align="left">
            <font color="#323232">{% capture donate_bitcoin %}{% include donate_bitcoin.md %}{% endcapture %}
              {{ donate_bitcoin | markdownify }}</font>
          </div>
          <!--
          <div class="card-action">
            <a href="https://www.github.com/cSploit/" onclick="Materialize.toast('Redirecting to PayPal...', 4500)"><b>PayPal</b></a>
            <a href="https://www.youtube.com" onclick="Materialize.toast('Redirecting to GitHub...', 4500)">More Info</a>
          </div>
          -->
        </div>
      </div>
    </div>
<br>
    <div class="row mobile-padding"> <!--TODO FIX ALIGN & REPLACE WITH TABS -->
      {% capture donate %}{% include donate.md %}{% endcapture %}
      {{ donate | markdownify }}
    </div>
      <br><br><br>

  </div>
</div>
