---
title: Donate
position: 2
---
<p>
You can contribute to cSploit by donating:
Incomings of donations will be used to buy hardware and services required
by cSploit developers and network infrastructure.
</p>

<div class="section">
  <h5>Donate via PayPal</h5>
  <a class="waves-effect waves-light btn amber black-text" href="https://www.paypal.com/uk/cgi-bin/webscr?cmd=_flow&SESSION=o_bFxeimjBkMm7UJ0DUpy9kygjGKR87XcfE06nypZwmhAV_Cjb5GA8KW9ci&dispatch=5885d80a13c0db1f8e263663d3faee8d5c97cbf3d75cb63effe5661cdf3adb6d" target="_blank">PayPal</a>
  {% include paypal_widget.html %}
</div>
<div class="divider"></div>
<div class="section">
  <h5>Donate via Bitcoin</h5>
  <a class="waves-effect waves-light btn amber black-text">Bitcoin</a>
  {% include bitcoin_widget.html %}
</div>

<br>

<h4>Things to purchase:</h4>
<ul>
  <li>- An old used iPhone</li>
  <li>- A Build Server</li>
  <li>- An USB OTG adapter</li>
</ul>
<p>We must also pay annual services like the csploit.org DNS record and more.
<br />
Thanks for your help! <i class="material-icons">thumb_up</i></p>
