---
title: Donate
position: 2
---
<p>
You can contribute to cSploit by donating:
Incomings of donations will be used to buy hardware and services required
by cSploit developers and network infrastructure.
</p>

<div class="row">
  <div class="col m4">
    <h5>PayPal <i class="material-icons">favorite</i></h5>
    <!--<a class="waves-effect waves-light btn amber black-text" href="https://www.paypal.com/uk/cgi-bin/webscr?cmd=_flow&SESSION=o_bFxeimjBkMm7UJ0DUpy9kygjGKR87XcfE06nypZwmhAV_Cjb5GA8KW9ci&dispatch=5885d80a13c0db1f8e263663d3faee8d5c97cbf3d75cb63effe5661cdf3adb6d" target="_blank">PayPal</a>-->
    {% include paypal_widget.html %}
  </div>
  <div class="col m4">
    <h5>Pledgie</h5>
    {% include pledgie_widget.html %}
  </div>
  <div class="col m4">
    <h5>Bitcoin</h5>
    <!--<a class="waves-effect waves-light btn amber black-text">Bitcoin</a>-->
    {% include bitcoin_widget.html %}
  </div>
</div>
<br>

<p>
The main goal of this crowdfunding is to purchase a small set of stuff to help the development.
<ul>
  <li>- A new Thinkpad laptop with a good battery and memory</li>
  <li>- A set of common WiFi adapters</li>
  <li>- Some bluetooth adapter to add bluetooth hacking feature</li>
  <li>- Some OTG adapters for pentestng over Ethernet and USB</li>
  <li>- An old used iPhone</li>
  <li>- csploit.org DNS record</li>
</ul>
As now I’m using a Thinkpad T60, purchased by a kindness guy of you.<br>
Sadly the battery life it’s about 30 minutes ( even if I purchased the biggest one ).<br>
Also using heavy development tools require a lot of memory, as now 3GB of memory isn’t enough.<br>
<br />
Thanks for your help! <i class="material-icons">thumb_up</i></p>

