---
title: Downloads
position: 3
layout: blank
---
    <div class="section no-pad-bot downloads-gradient" id="index-banner">
      <div class="container">
        <br><br>
        <h1 class="header center white-text floating-text-white">Downloads</h1>
        <div class="row center">
          <h5 class="tagline header col s12 light white-text floating-text-white">Download builds for Android and iOS</h5>
        </div>
        <div class="row center">
          <a href="" id="download-button" class="btn-large waves-effect waves-light green">Get Started</a>
        </div>
        <br><br><br><br><br><br>

      </div>
    </div>

<div class="container">
  <div class="section">
    <div class="row">
      <!-- TODO Add github dependencies, info and links -->

      <div class="card indigo float">
        <div class="card-content white-text">
          <h3 class="white-text">cSploit for iOS</h3>
          <p>{% capture download_iOS_head %}{% include download_iOS_head.md %}{% endcapture %}
            {{ download_iOS_head | markdownify }}</p>
        </div>
        <div class="card-tabs tabs-fixed-width tabs-transparent">
          <ul class="tabs tabs-fixed-width">
            <!-- TODO replace these titles -->
            <li class="tab"><a class="active" href="#csploit-iOS-1">STABLE RELEASE</a></li>
            <li class="tab"><a href="#csploit-iOS-2">BETA RELEASE</a></li>
            <li class="tab"><a href="#csploit-iOS-3">SOURCE CODE</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="csploit-iOS-1">
            {% capture download_iOS_release %}{% include download_iOS_release.md %}{% endcapture %}
            {{ download_iOS_release | markdownify }}
            <a class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Download</a>
          </div>
          <div id="csploit-iOS-2">
            {% capture download_iOS_beta %}{% include download_iOS_beta.md %}{% endcapture %}
            {{ download_iOS_beta | markdownify }}
          <a class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Download</a>
          </div>
          <div id="csploit-iOS-3">
            {% capture download_iOS_code %}{% include download_iOS_code.md %}{% endcapture %}
            {{ download_iOS_code | markdownify }}
          <a class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Download</a>
          </div>
        </div>
      </div>

      <br><br>

      <div class="card indigo float">
        <div class="card-content white-text">
          <h3 class="white-text">cSploit for Android</h3>
          <p>{% capture download_iOS_head %}{% include download_iOS_head.md %}{% endcapture %}
            {{ download_iOS_head | markdownify }}</p>
        </div>
        <div class="card-tabs tabs-fixed-width tabs-transparent">
          <ul class="tabs tabs-fixed-width">
            <!-- TODO replace these titles -->
            <li class="tab"><a class="active" href="#csploit-android-1">STABLE RELEASE</a></li>
            <li class="tab"><a href="#csploit-android-2">BETA RELEASE</a></li>
            <li class="tab"><a href="#csploit-android-3">SOURCE CODE</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="csploit-android-1">
            {% capture download_iOS_release %}{% include download_iOS_release.md %}{% endcapture %}
            {{ download_iOS_release | markdownify }}
            <a class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Download</a>
          </div>
          <div id="csploit-android-2">
            {% capture download_iOS_beta %}{% include download_iOS_beta.md %}{% endcapture %}
            {{ download_iOS_beta | markdownify }}
            <a class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Download</a>
          </div>
          <div id="csploit-android-3">
            {% capture download_iOS_code %}{% include download_iOS_code.md %}{% endcapture %}
            {{ download_iOS_code | markdownify }}
            <a class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Download</a>
          </div>
        </div>
      </div>

    </div>

  </div>
  <br><br>
</div>

<!--

  <div class="section no-pad-bot downloads-horizontal-gradient">
    <div class="container">
      <br><br><br><br>
      <h1 class="header center white-text floating-text-white">Hashes</h1>
      <div class="row center">
        <h5 class="header col s12 light white-text floating-text-white"></h5>
      </div>
      <div class="row center">
        <a href="" class="btn-large waves-effect waves-light green">Get Started</a>
      </div>
      <br><br><br><br><br><br>

    </div>
  </div>


<div class="section">
  <div class="row">
    <div class="col s10 m12 center-alig">

       TODO improve table, set right checksum, responsive, center

      <table class="highlight centered responsive-table">
        <thead>
        <tr>
          <th data-field="id">Version</th>
          <th data-field="name">MD5</th>
          <th data-field="name">SHA-256</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>Version</td>
          <td>iOS Release</td>
          <td>Raw Archive</td>
        </tr>
        <tr>
          <td>v2.0</td>
          <td>2ad5657ab0cb6f66a7a8c6c061ff3512</td>
          <td>01c7513e723da5bde2ea837613846085</td>
        </tr>


        <tr>
          <td>v2.0-rc2</td>
          <td>2ad5657ab0cb6f66a7a8c6c061ff3512</td>
          <td>01c7513e723da5bde2ea837613846085</td>
        </tr>


        <tr>
          <td>v2.0-rc1</td>
          <td>2ad5657ab0cb6f66a7a8c6c061ff3512</td>
          <td>01c7513e723da5bde2ea837613846085</td>
        </tr>


        <tr>
          <td>v1.6.1</td>
          <td>2ad5657ab0cb6f66a7a8c6c061ff3512</td>
          <td>01c7513e723da5bde2ea837613846085</td>
        </tr>


        <tr>
          <td>v1.5.0</td>
          <td>2ad5657ab0cb6f66a7a8c6c061ff3512</td>
          <td>01c7513e723da5bde2ea837613846085</td>
        </tr>


        </tbody>
      </table>


    </div>
  </div>

</div>-->

<div class="github-commit">
  <div class="container">
    <div class="commit">
      Latest Commit on Github:
      &nbsp;&nbsp;
      <a href="" class="sha"></a>
      &nbsp;&nbsp;
      <span class="date"></span>
      <a id="github-button-issues" href="https://github.com/cSploit/cSploit.github.io" class="github-button btn-flat right grey-text text-lighten-5 waves-effect material-git" onclick="Materialize.toast('Redirecting to Github ...', 4500)">Github</a>
      <a id="github-button-pull" href="https://github.com/cSploit/cSploit.github.io/issues" class="github-button btn-flat right grey-text text-lighten-5 waves-effect waves-light hide-on-small-only" onclick="Materialize.toast('Redirecting to Github...', 4500)">Issues</a>
      <a id="github-button" href="https://github.com/cSploit/cSploit.github.io/pulls" class="github-button btn-flat right grey-text text-lighten-5 waves-effect waves-light hide-on-small-only" onclick="Materialize.toast('Redirecting to Github...', 4500)">Pull requests</a>

    </div>
  </div>
</div>
