<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta charset="{{ site.encoding }}">
    {% if page.author %}<meta name="author" content="{{ page.author }}">{% endif %}
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <title>{% if page.title %} {{ page.title }} › {% endif %}{{ site.title }}</title>
    <link rel="canonical" href="{{ page.url | prepend: site.url }}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} &raquo; Feed" href="{{ "feed.xml" | prepend: site.baseurl }}">
    {% if site.disqus_username  and page.id %}
    <script type="text/javascript">
      var disqus_shortname = '{{ site.disqus_username }}';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    {% endif %}
    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{{ "init.js" | prepend: site.baseurl }}"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}" >
    
    {% if site.isso_domain and page.id %}<script data-isso="http://{{ site.isso_domain }}" src="//{{ site.isso_domain }}/js/embed.min.js"></script>{% endif %}
  </head>
  <body>
    <!-- navbar -->
    <nav class="light-blue darken-4" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="{{ site.baseurl }}" class="brand-logo right">{{ site.title }}</a>
        {% capture page_list %}
          {% assign list = site.pages | sort: 'position' %}
          {% for node in list %}
            {% unless node.title %}
              {% continue %}
            {% endunless %}
            <li {% if page.url == node.url %} class="active"{% endif %}>
              <a href="{{ node.url }}">
              {{ node.title }}
            </a></li>
          {% endfor %}
        {% endcapture %}
        <ul class="left hide-on-med-and-down">
          {{ page_list }}
        </ul>
        <ul id="nav-mobile" class="side-nav">
          {{ page_list }}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <br/>
    <main>
{{ content }}
    </main>
    <br />
    <footer class="page-footer light-blue darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">About cSploit</h5>
            <p class="grey-text text-lighten-4">The most complete and advanced IT security professional toolkit on Android. <a href="story">More...</a></p>


          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Project links</h5>
            <ul>
              <li><u><a class="white-text" href="https://github.com/cSploit/android">Github Project Page</a></u></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">About</h5>
            <ul>
              <li class="white-text">Website made by <u><a class="white-text" href="http://www.dominiktv.net">DominikTV</a></u></li>
              <li class="white-text">CSS-Framework by <u><a class="white-text" href="http://materializecss.com">Materialize</a></u></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        <p>Copyright &copy; {{ site.time | date: '%Y' }} cSploit</p>
        </div>
      </div>
    </footer>
  </body>
</html>
