---
layout: blank
---
<!--
      <div class="container">
        <div class="section">
        -->

          <!--   Icon Section   -->
          <div class="row">
{{ content }}
          </div>

<div class="section">

      {% if site.isso_domain and page.id %}
      <section id="isso-thread"></section>
      {% endif %}
      {% if site.disqus_username  and page.id %}
      <div id="disqus_thread"></div>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      {% endif %}
</div>